<main>

    <div class="desktop">

        <div class="icon" draggable="true" ondragstart="drag(event)" id="icon1">
            <div class="icon-image">🖥️</div>
            <div class="icon-label">Mi PC</div>
        </div>
        <div class="icon" draggable="true" ondragstart="drag(event)" id="icon1">
            <div class="icon-image">🗂️</div>
            <div class="icon-label">Explorador</div>
        </div>
        <!-- correo -->
        <div class="icon" draggable="true" ondragstart="drag(event)" id="icon1">
            <a href="mailto:antonioafkael@gmail.com" class="icon-link">
                <div class="icon-image">📧</div>
                <div class="icon-label">Correo</div>
            </a>
        </div>
        <!-- playlist -->
        <div class="icon" draggable="true" ondragstart="drag(event)" id="icon1">
            <div class="icon-image">🎧</div>
            <div class="icon-label">Música</div>
        </div>
        <!-- videos -->
        <div class="icon" draggable="true" ondragstart="drag(event)" id="icon1">
            <div class="icon-image">📺</div>
            <div class="icon-label">Videos</div>
        </div>
        <!-- proyectos -->
        <div class="icon" draggable="true" ondragstart="drag(event)" id="icon1">
            <div class="icon-image">💡</div>
            <div class="icon-label">Projects</div>
        </div>
        <!-- curricullum vitae -->
        <a href="https://drive.google.com/file/d/1KGbSvTSvpCS-ulx-fbzzXCuBdKrp5TGO/view?usp=sharing" target="_blank">
            <div class="icon" draggable="true" ondragstart="drag(event)" id="icon1">
                <div class="icon-image">📑</div>
                <div class="icon-label">CV</div>
            </div>
        </a>
        <!-- habilidades -->
        <div class="icon" draggable="true" ondragstart="drag(event)" id="icon1">
            <div class="icon-image">🧑‍💻</div>
            <div class="icon-label">Skills</div>
        </div>
    </div>
</main>