<main>
    
    <div class="desktop">
        
        <div class="icon" draggable="true" ondragstart="drag(event)" id="icon1" onclick="alert('Has hecho clic en Mi PC')">
            <div class="icon-image">🖥️</div>
            <div class="icon-label">Mi PC</div>
        </div>
        <div class="icon" draggable="true" ondragstart="drag(event)" id="icon1" onclick="alert('Has hecho clic en Explorador de archivos')">
            <div class="icon-image">🗂️</div>
            <div class="icon-label">Explorador</div>
        </div>
        <div class="icon" draggable="true" ondragstart="drag(event)" id="icon1" onclick="alert('Has hecho clic en Correo electrónico')">
            <div class="icon-image">📧</div>
            <div class="icon-label">Correo</div>
        </div>
        <div class="icon" draggable="true" ondragstart="drag(event)" id="icon1" onclick="alert('Has hecho clic en Música')">
            <div class="icon-image">🎧</div>
            <div class="icon-label">Música</div>
        </div>
        <div class="icon" draggable="true" ondragstart="drag(event)" id="icon1" onclick="alert('Has hecho clic en Videos')">
            <div class="icon-image">📺</div>
            <div class="icon-label">Videos</div>
        </div>
        <div class="icon" draggable="true" ondragstart="drag(event)" id="icon1" onclick="alert('Mira mis proyectos')">
            <div class="icon-image">💡</div>
            <div class="icon-label">Projects</div>
        </div>
        <div class="icon" draggable="true" ondragstart="drag(event)" id="icon1" onclick="alert('CV descargado')">
            <div class="icon-image">📑</div>
            <div class="icon-label">CV</div>
        </div>
        <div class="icon" draggable="true" ondragstart="drag(event)" id="icon1" onclick="alert('CV descargado')">
            <div class="icon-image">🧑‍💻</div>
            <div class="icon-label">Skills</div>
        </div>
    </div>
</main>
