<footer>
    <!-- Menú de inicio -->
    <div class="start-menu">
        <img class="inicio" src="/assets/img/inicio.png" alt="Inicio" width="85rem">
        <input type="text" placeholder="🔎 Escribe aquí para buscar">
    </div>

    <!-- Íconos de aplicaciones -->
    <div class="taskbar-icons">
        <div class="icon">
            <img src="/assets/img/explorer.png" alt="Archivos">
        </div>
        <div class="icon">
            <img src="/assets/img/music.png" alt="Musica">
        </div>
        <div class="icon">
            <img src="/assets/img/videos.png" alt="Videos">
        </div>
        <div class="icon">
            <img src="/assets/img/correo.png" alt="Correo">
        </div>
        <div class="icon">
            <img src="/assets/img/proyectos.png" alt="Proyectos">
        </div>
    </div>

    <!-- Hora -->
    <div class="taskbar-right">
        <app-digital-clock></app-digital-clock>
        <span>   🤖   </span>
        <app-fecha></app-fecha>
    </div>
</footer>
