nav {
    background-color: crimson;
    height: 2.5rem;
    display: flex;
    align-items: center;
    padding: 0 1rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);

    ul {
        display: flex;
        justify-content: flex-end;
        margin: 0;
        padding: 0;
        list-style: none;

        li {
            margin: 0 10px;
            padding: 0.5rem;

            a {
                text-decoration: none;
                color: black;
                font-size: 20px;
                font-weight: bold;
                transition: all 0.3s ease;

                &:hover {
                    color: rgb(255, 255, 255);
                }
            }
        }
    }

    .menu-toggle {
        display: none;
        cursor: pointer;

        div {
            width: 25px;
            height: 3px;
            background: black;
            margin: 5px 0;
            transition: all 0.3s ease;
        }
    }

    @media (max-width: 768px) {

        ul {
            flex-direction: column;
            position: absolute;
            top: 2.5rem;
            right: 0;
            background-color: crimson;
            width: 100%;
            display: none;

            li {
                text-align: flex-start;
                margin: 10px 0;
                padding: 0.5rem 1rem;

                &:hover {
                    background-color: rgb(255, 0, 51);
                    transition: all 0.3s ease;
                }
            }
        }

        ul.active {
            display: flex;
        }

        .menu-toggle {
            display: block;
        }
    }

    @media (min-width: 769px) {
        ul {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;

            li {
                background-color: transparent;

                &:hover {
                    background-color: transparent;
                }
            }
        }
    }
}